.accordion {
  margin-top: 10px;
  margin-bottom: 10px;
}

.accordion-item {
  margin-bottom: 1rem;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
}

.accordion-header {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 5px;
}

.accordion-header:focus {
  outline: none;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  padding: 0 5px;
}

.accordion-content.active {
  visibility: visible;
  padding: 5px;
  max-height: 100px;
}

@media (max-width: 520px) {
  .accordion-content.active {
    max-height: 180px;
  }
}
